@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Favorit";
  src: local("Favorit"),
    url(./assets/fonts/favorit-trial-var.ttf) format("truetype");
}

@font-face {
  font-family: "Cyberthrone";
  src: local("Cyberthrone"),
    url(./assets/fonts/cyberthrone.ttf) format("truetype");
}

@font-face {
  font-family: "TTrailer";
  src: local("TTrailer"),
    url(./assets/fonts/tt-trailer-med.ttf) format("truetype");
}

@font-face {
  font-family: "Avenir";
  src: local("Avenir"),
    url(./assets/fonts/avenir-next.otf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Favorit", sans-serif;
  background: #fcf9ee;
}

img {
  width: 100%;
}
