/* CART */
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    min-height: 100vh;
    padding: 20px;
    background: #fcf9ee;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 100;
  }
  
  .cart-active {
    right: 0;
  }
  